[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.92.0"
dependency-injector = "==4.41.0"
httpx = "==0.23.3"
sqlalchemy = "==2.0.4"
pydantic = "==1.10.5"
starlette = "==0.25.0"
psycopg2 = "==2.9.5"

[dev-packages]
pytest = "==7.2.1"

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
